###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=your_app_secret_here
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:password@127.0.0.1:3306/doura_mondo?serverVersion=mariadb-10.4.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> symfony/mailer ###
MAILER_DSN=smtp://your-email@gmail.com:app-password@smtp.gmail.com:587
###< symfony/mailer ###

###> knpu/oauth2-client ###
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
###< knpu/oauth2-client ###

###> twilio/sdk ###
TWILIO_SID=your_twilio_sid_here
TWILIO_TOKEN=your_twilio_token_here
TWILIO_WHATSAPP_FROM=+14155238886
###< twilio/sdk ###

###> Hugging Face API ###
HF_API_KEY=your_huggingface_api_key_here
###< Hugging Face API ###